@charset "UTF-8";

.tzjl{ padding:0 20px;}
.tzjl nav{ height:46px;border-bottom:1px solid #ebebeb; }
.tzjl nav ul { overflow:hidden}
.tzjl nav ul li{ float:left; }
.tzjl nav ul li a { display:block; padding:0 30px; font-size:18px; line-height:47px; color:#333;}
.tzjl nav ul li.hover a { border:1px solid #eee; border-bottom:#fff; color:#c18f35; line-height:44px; border-top:3px solid #c18f35; background:#fff;}

.tzjl .box { border:1px solid #e8e8e8; border-left:4px solid #c79538; padding:0 10px; margin-top:40px;}
.tzjl .box h3{ line-height:44px; border-bottom:1px solid #e8e8e8; color:#4a4a4a; font-size:16px;}
.tzjl .box .center{ padding:10px 0; overflow:hidden}
.tzjl .box .center h4{ line-height:40px; padding-bottom:10px;}
.tzjl .box .center h4 b { font-size:20px;}
.tzjl .box .center h4 i{ color:#cd9b3c; padding:0 20px; font-size:16px;}
.tzjl .box .center h4 em { font-size:14px; border-left:1px solid #e8e8e8; padding-left:20px;}
.tzjl .box .center ol { font-size:14px; float:left; width:
33.33%;}
.tzjl .box .center ol li { padding:5px 20px; border-right:1px solid #e8e8e8}
.tzjl .box .center ol:last-child li{ border-right:0;}
.tzjl .box>h6{ color:#c18f34; font-size:14px; line-height:30px; border-top:1px solid #e8e8e8; margin-top:10px;}

.bnav{ padding:10px; overflow:hidden}
.bnav ul { float:left; font-size:14px; line-height:30px;}
.bnav ul li{ float:left; margin:5px; padding:0px 10px;}
.bnav ul li:hover,.bnav ul li.hover{ color:#fff; background:#d0a44a}
.bnav .b2{ padding:0px 10px ; float:left}
.bnav .b2 input { border:1px solid #ddd; width:40px; margin:0 10px; height:28px;}
.bnav button {  height:30px; padding:0 20px; border:1px solid #d0a44a; margin-left:20px; background:#fff; color:#333;}