@charset "UTF-8";

.listconnav {
    font-size: 18px;
    color: #c89638;
    font-family: "微软雅黑";
    margin-bottom: 20px;
    margin-top: 20px;
    border-left: 6px solid #c89638;
}
.listconnav a {
    color: #333;
}
.listconnav>* {
    padding: 10px;
}
.lc1 {
    overflow: hidden;
    background: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    font-family: "微软雅黑";
    margin-bottom: 20px;
}