/* 回款计划版块 */
.my-calendar{
	width: 99%;
	border: 1px solid #eeeeee;
	position: relative;
}
/* 回款部分 */
.payBackCal{
	float: left;
	width: 427px;
	background: #fff;
}
.back-cal-header{
	height: 39px;
	border-bottom: 1px solid #eeeeee;
}
.back-cal-header a{
	display: block;
	font-size: 16px;
	line-height: 30px;
	padding-left: 30px;
	height: 30px;
	color: #ff6633;
	margin: 10px 0 0 285px;
	background: url(../imgs/spr.png) -380px -514px no-repeat;
}
.back-cal-header a:hover{
	color: #f98850;
}
.back-cal-body{
	width: 427px;
}
.pay-cal{
	margin: 30px auto;
	width: 260px;
	height: 80px;
}
.pay-day{
	float: left;
	width: 80px;
	height: 80px;
	margin-right: 20px;
	text-align: center;
}
.pay-cal span{
	display: block;
}
.pay-day .dayName{
	width: 80px;
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	color: #666666;
	background: #eeeeee;
}
.pay-day .day{
	width: 80px;
	height: 50px;
	color: #ffffff;
	line-height: 50px;
	font-size: 30px;
	background: #ff9966;
}
.need-pay{
	float: left;
	width: 160px;
	height: 80px;
	overflow: hidden;
}
.need-pay .tips{
	font-size: 14px;
	color: #666666;
	height: 40px;
	padding-left: 40px;
	line-height: 40px;
	position: relative;
}
.ahead.need-pay .tips{
	line-height: 30px;
	height: 30px;
}
.need-pay .tips i{
	position: absolute;
	left: 0;
	top: 0;
	display: block;
	width: 40px;
	height: 40px;
	background: url(https://s1.lantouzi.com/img/201503/calendar_sprite_v2.png) 0px -50px no-repeat;
}
.ahead.need-pay .tips i{
	height: 30px;
	background: url(https://s1.lantouzi.com/img/201503/calendar_sprite_v2.png) 0px -55px no-repeat;
}
.need-pay .money{
	font-size: 14px;
	line-height: 24px;
	margin-top: 5px;
	padding-left: 10px;
	color: #333333;
}
.need-pay .money strong{
	font-size: 24px;
	padding-right: 5px;
	color: #ff6633;
}
.need-pay .ahead-part{
	display: none;
	position: relative;
	padding-left: 25px;
	color: #333333;
}
.ahead.need-pay .ahead-part{
	display: block;
}
.need-pay .ahead-part:before{
	content: ' ';
	display: block;
	position: absolute;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	left: 10px;
	top: 5px;
	background: #00dd32;
}
.need-pay .ahead-part strong{
	color: #ff6633;
}
.back-cal-footer{
	position: absolute;
	bottom: 0;
	right: 0;
	width: 427px;
	height: 31px;
	color: #666666;
	font-size: 14px;
	line-height: 31px;
	text-align: center;
	border-top: 1px solid #eeeeee;
}
.back-cal-footer strong{
	padding-left: 15px;
}
/* 日历组件 */
.calendar{
	float: left;
	width: 250px;
	font-size: 14px;
	background: #fff;
	color: #999999;
}
.cal-header{
	line-height: 50px;
	background: #ff9966;
	overflow: hidden;
	color: #ffffff;
	font-size: 18px;
	text-align: center;
}
.cal-header a{
	width: 15%;
	height: 50px;
	text-indent: -9999em;
	display: block;
	cursor: pointer;
	background: url(https://s1.lantouzi.com/img/201503/calendar_sprite_v2.png) no-repeat;
}
.cal-header a.disabled{
	cursor: default;
}
.cal-header .prev{
	float: left;
	background-position: left top;
}
.cal-header .next{
	float: right;
	background-position: right top;
}
.cal-header div{
	cursor: pointer;
	width: 69%;
	text-align: center;
	display: block;
	float: left;
}
.day-name {
	cursor: default;
	width: 100%;
}
.cal-days{
	cursor: default;
	width: 100%;
	text-align: center;
}
.cal-days .day-name li{
	width: 34.7px;
	height: 30px;
	float: left;
	line-height: 30px;
	margin: -1px 0 0 -1px;
	border: 1px solid #eeeeee;
	overflow: hidden;
}
.cal-days .days li{
	width: 34.7px;
	height: 30px;
	float: left;
	line-height: 30px;
	margin: -1px 0 0 -1px;
	border: 1px solid #eeeeee;
	overflow: hidden;
}
.cur-day{
	background: #eeeeee;
}
.cur-month{
	color: #666666!important;
}
.ck-day{
	cursor: pointer;
}
.select-day{
	background: #ff9966 !important;
	color: #fff !important;
}
.back-day{
	background: url(https://s1.lantouzi.com/img/201503/calendar_sprite_v2.png) right -50px no-repeat;
}
.ahead-day{
	background: url(https://s1.lantouzi.com/img/201503/calendar_sprite_v2.png) right -135px no-repeat;
}
.cur-day.ahead-day{
	background: url(https://s1.lantouzi.com/img/201503/calendar_sprite_v2.png) right -135px no-repeat #eee;
}