/* 个人中心 */
/* 重置 */
.main{
	width: 744px;
	padding: 0px;
	background: none;
	overflow: hidden;
}
/* 公共 */
.ltz-user-notice{
	width: 684px;
	padding: 10px 25px 5px 25px;
	background: #ffcc99;
	color: #993300;
	font-size: 14px;
	text-align: center;
	margin-bottom: 10px;
}
.ltz-user-notice p{
	margin-bottom: 5px;
}
.ltz-user-notice a{
	color: #cc0000;
	margin: 0px 5px;
	text-decoration: underline;
}
.ltz-user{
	width: 684px;
	padding: 15px 25px;
	background: #fff;
	margin-bottom: 15px;
}
.ltz-user-btn{
	display: block;
	text-align: center;
	color: #fff;
}
.ltz-user-btn:hover{
	opacity: 0.8;
}
.user-section-title{
	font-size: 16px;
	color: #333333;
	border-left: 3px solid #ff9966;
	line-height: 100%;
	padding-left: 15px;
	margin-bottom: 20px;
}
/* 用户信息 */
.ltz-user-info{
	width: 100%;
	position: relative;
}
.ltz-user-info .info{
	width: 100%;
	font-size: 12px;
	color: #333333;
	margin-bottom: 10px;
}
.ltz-user-info .info .name{
	font-size: 18px;
}
.ltz-user-info .info p em{
	margin-left: 5px;
	position: relative;
}
.ltz-user-info .info i{
	padding: 5px 10px;
	margin: 0 2px;
	background: url(https://s1.lantouzi.com/img/201504/ltz_account_sprite_new.png) no-repeat;
}
.ltz-user-info .info .phone{
	background-position: left top;
}
.ltz-user-info .info .unfinished .phone{
	background-position: left -20px;
}
.ltz-user-info .info .email{
	background-position: -20px top;
}
.ltz-user-info .info .unfinished .email{
	background-position: -20px -20px;
}
.ltz-user-info .info .idcard{
	background-position: right top;
}
.ltz-user-info .info .unfinished .idcard{
	background-position: right -20px;
}
.ltz-user-info .process-bar{
	position: absolute;
	right: -71px;
	top: 1px;
	display: block;
  height: 10px;
  width: 70px;
  background: #eee;
}
.ltz-user-info .process-bar b{
	display: block;
  height: 10px;
  width: 50%;
  background: #f96;
}
.ltz-user-info .process-num{
	position: absolute;
	right: -109px;
	top: -3px;
}
.ltz-user-info .account{
	width: 50%;
	color: #666666;
}
.ltz-user-info .account .amount{
	margin-bottom: 5px;
}
.ltz-user-info .account .amount i{
	padding: 5px 10px;
	margin-right: 5px;
	background: url(https://s1.lantouzi.com/img/201504/ltz_account_sprite_new.png) left -40px no-repeat;
}
.ltz-user-info .account .amount strong{
	color: #ff6633;
	font-size: 16px;
	margin: 0px 20px;
}
.ltz-user-info .account .all i{
	padding: 5px 10px;
	margin-right: 5px;
	background: url(https://s1.lantouzi.com/img/201504/ltz_account_sprite_new.png) left -65px no-repeat;
}
.ltz-user-info .account .all strong{
	color: #ff6633;
	font-size: 16px;
	margin: 0px 20px;
}
.ltz-user-info .method{
	width: 180px;
	position: absolute;
	right: 0;
	bottom: 0px;
}
.ltz-user-info .method .ltz-user-btn{
	float: left;
	width: 80px;
	height: 30px;
	line-height: 30px;
	margin: 0px 5px
}
.ltz-user-info .method .recharge{
	background: #ff6666;
}
.ltz-user-info .method .withdraw{
	background: #ff9933;
}
/* 资产统计 */
.ltz-user-statis{
	width: 100%;
	position: relative;
}
.ltz-user-statis .total-amount{
	top: -4px;
	left: 150px;
	position: absolute;
}
.ltz-user-statis .total-amount strong{
	color:#ff6633;
	font-size: 16px;
}
.ltz-user-statis .total-coupon{
	position: absolute;
	top:-5px;
	right: 0;
	color: #999;
	font-size: 13px;
}
.ltz-user-statis .total-coupon strong{
	color:#ff6633;
}
.ltz-user-statis .lljh,.ltz-user-statis .lqjh{
	float:left;
	width: 330px;
	height: 210px;
	background: #fff5eb;
}
.ltz-user-statis .lljh{
	margin-right: 10px;
}
.ltz-user-statis .jh-title{
	font-size: 16px;
	display: block;
	width: 100%;
	text-align: center;
	height: 40px;
	line-height: 40px;
	background: #ffe5ca;
}
.ltz-user-statis .jh-table{
	width: 80%;
	color: #666666;
	line-height: 25px;
	margin:10px auto;
}
.ltz-user-statis .jh-table .money{
	text-align:right;
}
.ltz-user-statis .jh-table .money strong{
	margin-right: 10px;
}
.ltz-user-statis .lljh .ltz-user-btn{
	width: 130px;
	height: 30px;
	line-height: 30px;
	margin: 30px auto;
	background: #ff6666;
}
.ltz-user-statis .lljh .lock{
	cursor: pointer;
	padding: 5px 10px;
	margin-left: 5px;
	background: url(https://s1.lantouzi.com/img/201504/ltz_account_sprite_new.png) left bottom no-repeat;
}
.ltz-user-statis .lqjh .ltz-user-btn{
	width: 130px;
	float: left;
	height: 30px;
	line-height: 30px;
	margin: 20px 20px 0px 30px;
	background: #ff6666;
}
.ltz-user-statis .lqjh .redeem{
	margin: 20px 0px 0px 0px;
	background: #ff9933;
}
#ltz-user-index .lock-tips{
	position:absolute;
	display:none;
	top:401px;
	left:431px;
	font-size:12px;
	border:1px solid #ccc;
	background:#fff;
	padding:15px;
	color:#666;
	box-shadow:0 0 4px #ccc;
}
#ltz-user-index .lock-tips a {
	color:#3089e2;
	text-decoration:underline;
}
#ltz-user-index .lock-tips b {
	position:absolute;
	display:block;
	width:0;
	height:0;
	line-height:0;
	top:16px;
	left:-16px;
	border:8px solid transparent;
	border-right:8px solid #ccc;
	z-index:1;
}
#ltz-user-index .lock-tips i {
	position:absolute;
	display:block;
	width:0;
	height:0;
	line-height:0;
	top:18px;
	left:-12px;
	border:6px solid transparent;
	border-right:6px solid #fff;
	z-index:2;
}
/* 回款计划 */
.ltz-user-calendar{
	width: 100%;
}