@charset "UTF-8";

.user-invite{
	width: 100%;
	margin: 0 auto;
	max-width: 450px;
	padding-top: 40px;
	padding-bottom: 100px;
}
.user-invite .title{
	width: 320px;
	height: 150px;
	margin: 0 auto;
	background: url(../images/invite_01.png) no-repeat;
	background-position: left 0;
	background-size: 100px;
	position: relative;
}
.user-invite .invite-text{
	position: absolute;
	top: 0;
	left: 100px;
	width: 210px;
	height: 75px;
	background: url(../images/invite_02.png) no-repeat;
	background-size: 210px 75px;
}
.user-invite .invite-text section{
	position: relative;
	width: 100%;
	height: 100%;
}
.user-invite .invite-text p{
	padding-left: 10px;
	width: 160px;
	position: absolute;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	top: 20px;
	color: #dd5561;
	line-height: 150%;
	font-size: 0.8rem;
}
.user-invite .desc{
	width: 90%;
	margin: 0 auto;
	color: #666666;
	font-size: 0.9rem;
	line-height: 140%;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 5px 0 0 #b7b7b7;
}
.user-invite .desc h3{
	font-weight: 800;
	line-height: 180%;
	color: #333;
}
.user-invite .copy{
	width: 90%;
	margin: 0 auto;
	margin-top: 20px;
}
.user-invite .copy p{
	font-size: 0.8rem;
}
.user-invite .copy p strong{
	color: #dd5561;
	font-size: 0.9rem;
	line-height: 160%;
}
.user-invite .copy input{
	margin: 10px auto;
	border:1px solid #ccc;
	line-height: 30px;
	height: 30px;
	text-align: center;
	width: 100%;
	font-size: 0.8rem;
}
.user-invite #share{
	display: block;
	width: 80%;
	height: 35px;
	line-height: 35px;
	color: #fff;
	background: #dd5561;
	text-align: center;
	font-size: 1rem;
	margin: 30px auto;
}

/*  下弹框  */

.dashedbox{
    padding: 5px 15px;
    /* border-radius: 10px; */
    border-top: 1px solid #909090;
    /* border-bottom: 1px dashed #909090; */
    background-color: #fff;
 }
 .dashedbox table{
 	width:100%;text-align: center;
 } 
 .dashedbox table thead{
 
 }
 .dashedbox table tr{
 	border-bottom: 1px dashed #909090;
 }
 .dashedbox table th,table td{
 	
 }
 
 /* 新版邀请码机制解释区 */
section.iexplain{
    width: 87%;
 	
    margin: 0px 20px;
}
section.iexplain .ititle{

}
section.iexplain .ititle img{
    width: 35%;

    float: left;
    margin-right: 20px;
}
section.iexplain .ititle .tright{
    width: 100%;
	
    padding-left: 20px;
    padding-top: 49px;
    font-size: 14px;
    color: #2e9dd0;
}
section.iexplain .ititle .tright p{
    margin-top: 5px;
	
    font-size: 15px;
}
section.iexplain .ibody{
    margin: 25px 0;
	
    text-align: center;
    font-size: 14px;
}
section.iexplain .ibody ul{
    
}
section.iexplain .ibody ul li{
    margin: 7px 0;
    
    letter-spacing: 0px;
}
section.iexplain .ibody ul li span{
    color: #2e9dd0;
    font-weight: bold;
}

section.invitor{
	margin: 5px auto;
	text-align: left;
	padding: 5px 10px 10px 20px;
	font-size: 14px;
}
section.invitor p{
    margin: 10px 0;
}
section.invitor p.warning{
	margin: 0;
	font-size: 12px;
	text-align: center;
	color: red;
}
section.invitor span{
    color: #2e9dd0;
	font-weight: bold;
}
section.invitor input[type=text]{
	border: 1px solid #909090;
	width: 45%;
	height: 25px;
}
section.invitor input[type=button]{
	background-color: #ff6264;
	border: 0;
	color: #fff;
	height: 25px;
	width: 50px;
	border-radius: 5px;
	font-size: 15px;
}
