@charset "UTF-8";

body{
    background: #485157;
}
header img{
    width: 100%;
}
div.bd{
    width:100%;
    padding-top:10px;
}
div.bd .form{
    width: 75%;
    margin: auto;
    text-align: center;
}
div.bd .form input{
    border: 0;
    -webkit-border-radius:25px;
    -moz-border-radius:25px;
    border-radius:25px;
    height: 35px;
    width: 100%;
    text-indent: 20px;
    margin:5px 0;
    font-family:"微软雅黑","Microsoft YaHei";
}
div.bd .form input.ver{
    width: 58%;
    float: left;
}
div.bd .form img.codeImg{
    line-height: 23px;
    margin-top: 10px;
}
div.bd .form a.phone-code-btn{
    display: block;
    width:39%;
    float: right;
    margin: 5px 0;
    height: 37px;
    line-height: 37px;
    color: #fff;
    background: #f8b62c;
    -webkit-border-radius:25px;
    -moz-border-radius:25px;
    border-radius:25px;
}
div.bd .form input[type=button]{
    text-indent: 0;
    background: #f8b62c;
    color: #fff;
}
div.bd .form p.err-area{
    display: none;
    color: #FF3232;
}
div.intro{
    width:75%;
    margin:10px auto 10px;
    color: #fff;

}
div.intro ul li{
    margin:20px 0;
}
div.intro ul li img:first-child{
    width:25%;
    margin-right: 3%;
}
div.intro ul li img:nth-child(3){
    height:60px;
    margin: 0 1%;
}
div.intro ul li>span{
    display: inline-block;
    width: 1em;
    letter-spacing: 1em;
    word-break: break-all;
    vertical-align: middle;
    line-height:16px;
    font-weight:bold;
}
div.intro ul li>div{
    display: inline-block;
    vertical-align: middle;
}
div.intro ul li>div>p{
    line-height:20px;
}